{% extends "layout.html"%}
{% block content%}
<div id="fb-root"></div>
<script async defer src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>
<div style="positon: absolute; left: 40%;" class="fb-video" data-href="https://www.facebook.com/james.maxell.eroy/videos/2053523484683889/" data-width="450" data-show-text="false"><blockquote cite="https://www.facebook.com/james.maxell.eroy/videos/2053523484683889/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/james.maxell.eroy/videos/2053523484683889/"></a><p></p>Posted by <a href="https://www.facebook.com/james.maxell.eroy">James Maxell Eroy</a> on Sunday, 24 February 2019</blockquote></div>

{% endblock content%}